@model Stutdent_Complain_Management.Models.Account
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<section class="content">
    <section class="login-main">
        <div class="box">
            <h2 class="box__title">Đăng nhập</h2>
            <div class="box__body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken();
                    <div style="color:red" id="Message">@ViewBag.Message</div>
                    @Html.LabelFor(m => m.username)
                    @Html.EditorFor(m => m.username, new { placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.username)
                    <br>
                    @Html.LabelFor(m => m.password)
                    @Html.EditorFor(m => m.password, new { type = "password", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.password)
                    <input type="submit" id="login" value="Đăng nhập">
                    
                }
            </div>
        </div>
    </section>
</section>
