@model X.PagedList.IPagedList<Complains_System.Catalog.Complains.Dtos.ComplainsViewModel>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>

    <title>Trang quản lý bài đăng</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/ca78d69f23.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/assets/homepage/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="col-7" style="max-width:none">
        <div class="mt-4">
            @foreach (var item in Model)
            {
                <a asp-action="viewdetail" asp-controller="complains" asp-route-id="@item.IdComplains">
                    <div class="card shadow border-0">
                        <div class="row">
                            @*<a asp-action="viewdetail" asp-controller="complains" asp-route-id="@item.IdComplains">*@
                            <div class="col-4">

                                @if (item.picture != null)
                                {
                                    <div><img class="imgpost" src="~/ImgComplains/@Url.Content(item.picture)"></div>
                                }
                                @if (item.picture == null)
                                {
                                    <div><img class="imgpost" src="~/ImgComplains/depositphotos_223101402-stock-illustration-complaint-icon-trendy-design-style.jpg"></div>
                                }


                            </div>
                            @*<a asp-action="viewdetail" asp-controller="complains" asp-route-id="@item.IdComplains">*@
                            <div class="col-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-10">
                                            <h5 class="card-title">@item.Title</h5>

                                        </div>


                                            <div class="col-2">
                                                <i class="fa-solid fa-trash-can"></i>

                                            </div>


                                    </div>
                                    <h6 class="card-subtitle mb-2 text-muted">Trạng thái: Đã duyệt</h6>
                                    <footer class="blockquote-footer">@item.Date</footer>
                                    <p class="card-text">@item.Content</p>
                                </div>
                            </div>
                            @*</a>*@
                        </div>
                    </div>
                </a>
            }

        </div>
    </div>

    <br />
    <div class="d-flex justify-content-center">

        @Html.PagedListPager(Model, page => Url.Action("Getmycomplain", new { page }), new PagedListRenderOptions
        {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
        })

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html> 