@using Complains_System.Catalog.Complains.Dtos
@model ComplainsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


                    <div class="mt-4">
                        <div class="form container">
                            <div class="form-title mb-4">
                                <p>@Model.Title</p>
                            </div>
                            
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Ngày đăng:</label>
                                <input class="form-control" type="text" value="@Model.Date" disabled
                                       readonly>
                            </div>
                            @if (@Url.Content(Model.picture) != null)
                            {
                                <div class="mb-3">
                                    <img id="blah" src="~/ImgComplains/@Url.Content(Model.picture)" />
                                </div>
                            }

                            <div class="mb-3">
                                <label class="form-label">Nội dung:</label>
                                <textarea class="form-control" rows="5" disabled
                                          readonly>@Model.Content
                                </textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Nội dung phản hồi:</label>
                                <textarea class="form-control" rows="5" disabled
                                          readonly>@((Model.Reply == null)?"Chưa có phản hồi.":Model.Reply)
                                </textarea>
                            </div>


                        </div>


                    </div>
                


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

