@model List<Complains_System.Catalog.Department.ListDepartments>
@{
    ViewData["Title"] = "manage_department";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html lang="en">
<head>

    <title>Trang Quản Lý Phòng Ban</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/assets/admin/manage_dep/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<!-- form xem và sửa tài  phòng ban-->

<body>
    <div class="d-flex align-items-center">
        <div class="col-8">
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-4 my-2  mw-100 navbar-search">
                <div class="input-group">
                    <input id="search-height" type="text" class="form-control bg-light border-0 small"
                           placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="btn-search" class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>


    </div>

    <div class="row mr-4 ml-4">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-info">
                    <th scope="col">TÊN PHÒNG BAN</th>
                    <th scope="col">SỐ ĐIỆN THOẠI</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col" colspan="2">Hành động</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Name</th>
                        <td>@item.phone</td>
                        <td>@item.email</td>
                        <td>
                            <a asp-controller="DepartmentService" asp-action="editdepartment" asp-route-id="@item.Id">
                                <i class="fa-solid fa-pen"></i>
                            </a>

                        </td>
                        <td><a asp-controller="DepartmentService" asp-action="deleting_department" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a></td>

                    </tr>
                }

            </tbody>
        </table>
    </div>

</body>


<!-- kết thúc form xem và sửa phòng ban -->





</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--JS xoá phòng ban -->
<script>
    var deleteLinks = document.querySelectorAll('.delete');

    for (var i = 0; i < deleteLinks.length; i++) {
        deleteLinks[i].addEventListener('click', function (event) {
            var choice = confirm("Bạn có muốn xoá phòng ban này?");
            event.preventDefault();

            if (choice)
            {

                window.location.href = window.location.this
            }

        });
    }
</script>