@model Stutdent_Complain_Management.Models.RegisterViewModel_Stu

@{
    ViewBag.Title = "StuReg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <section class="login-main">
        <div class="box">
            <h2 class="box__title">Đăng ký</h2>
            <div class="box__body">
                @using (Html.BeginForm("StuReg", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary();

                    @Html.LabelFor(m => m.studentcode, new { @class = "register" })
                    @Html.TextBoxFor(m => m.studentcode, "", new { placeholder = "Mã số sinh viên" })
                    <br />

                    @Html.LabelFor(m => m.sClass, new { @class = "register" })
                    @Html.TextBoxFor(m => m.sClass, "", new { placeholder = "Lớp" })
                    <br />

                    @Html.LabelFor(m => m.Department, new { @class = "register" })
                    @Html.DropDownList("Deps", (IEnumerable<SelectListItem>)ViewBag.Khoa, "Chọn khoa", htmlAttributes: new { @class = "form-control" })
                    <br />

                    @Html.LabelFor(m => m.Password, new { @class = "register"})
                    @Html.TextBoxFor(m => m.Password, "", new { placeholder = "Password", type = "password" })
                    <br />

                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "register" })
                    @Html.TextBoxFor(m => m.ConfirmPassword, "", new { placeholder = "Password", type = "password" })
                    <br />
                    <div style="color:red" id="tk"></div>
                    <input class="register" id="registerbtn" type="submit" value="Đăng ký" >
                }
            </div>
        </div>
    </section>
</section>

