@{
    ViewData["Title"] = "PhanQuyen";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
@using Complains_System.Models
@inject Complains_System.Catalog.Admin.UserManagement.IUserManagementService UserManager
@model Complains_System.Catalog.Admin.UserManagement.Dtos.UserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html lang="en">
<head>

    <title>Phân Quyền</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/assets/admin/formdki/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="create-account container mt-10 d-flex">

        <div class="form d-flex">
            <form method="post" asp-action="PermitingInProcess" asp-controller="UsersManagement">
                <div class="form-create mt-5 d-flex">
                    <div class="form-title mt-8 pb-5">
                        <p class="text-primary">PHÂN QUYỀN</p>

                    </div>

                    <label for="exampleFormControlInput1" class="form-label ">Tên Tài Khoản:</label>
                    <div class="this-typing pb-6">
                        <input type="text" class="form-control" name="oldpasswords" value="@Model.user.UserName">
                    </div>
                    <label for="exampleFormControlInput1" class="form-label ">Chọn Quyền Hạng Người Dùng:</label>

                    @foreach (var item in Model.Role)
                    {
                        var result = await UserManager.IsInRole(Model.user, item.id);

                        <div>
                            <div class="form-check">
                                @if (result)
                                {

                                    <input class="form-check-input" type="checkbox" value="@item.id" id="@item.id" name="@item.id"
                                           checked>
                                    <label class="form-check-label" for="@item.id">
                                        @item.Name
                                    </label>
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" value="@item.id" name="@item.id" id="flexCheckChecked-1">
                                    <label class="form-check-label" for="flexCheckChecked-1">
                                        @item.Name
                                    </label>
                                }
                            </div>

                        </div>

                    }
                    <div class="d-flex justify-content-end mb-4 mt-2">

                        <button type="submit" style="font-weight:600" class="btn btn-success ">LƯU</button>
                    </div>




                </div>
            </form>

        </div>


    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>