@model Complains_System.Catalog.Complains.Dtos.ComplainsViewModel
@{
    ViewData["Title"] = "viewdetail";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<!doctype html>
<html lang="en">
<head>

    <title>Xem danh sách bài đăng admin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/admin/detail_complains/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="create-account container mt-10 d-flex">
        <div class="form-title mb-4 mt-5">
            <p>@Model.Title</p>
            <hr>
        </div>
        <div class="mb-3 d-flex">
            <label class="form-label">Trạng thái:</label>
            <div class="ml-4"><p>@Model.Status</p></div>
        </div>
        <div class="mb-3 d-flex">
            <label class="form-label">Khoa:</label>
            <div class="ml-4"><p>@Model.Department</p></div>
        </div>

        <div class="mb-3 d-flex">
            <label class="form-label">Người phản hồi:</label>
            <div class="ml-4"><p>@Model.employee_reply</p></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Ngày đăng:</label>
            <input class="form-control" type="text" value="@Model.Date" disabled readonly>
        </div>
        @if (@Url.Content(Model.picture) != null)
        {
            <div class="mb-3 text-center">
                <img id="blah" src="~/ImgComplains/@Url.Content(Model.picture)" />
            </div>
        }

        <div class="mb-3">
            <label class="form-label">Nội dung:</label>
            <textarea class="form-control" rows="10" disabled readonly>@Model.Content
            </textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Nội dung phản hồi:</label>
            <textarea class="form-control feedback" rows="10" disabled readonly>@Model.Reply</textarea>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>


