@model IEnumerable<Stutdent_Complain_Management.Models.lstCln>


@{
    ViewBag.Title = "MyCln";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyCln</h2>

<p>
    @Html.ActionLink("Create New", "CreateComplain")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.IdComplains)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdComplains)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details_Complains", new { id = item.IdComplains }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
